<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav ml-auto mb-2 mb-lg-0 d-flex flex-row">
      <li class="nav-item p-2 pt-0 pb-0">
        <a class="nav-link" routerLinkActive="active" routerLink="/profile/edit"
          >Edit</a
        >
      </li>
      <li class="nav-item p-2 pt-0 pb-0">
        <a
          class="nav-link"
          routerLinkActive="active"
          routerLink="/profile/settings"
          >Settings</a
        >
      </li>
    </ul>
  </div>
</nav>
<h1>User Profile Page..!</h1>
<router-outlet></router-outlet>
